fastapi
requests
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pypdf
httpcore
httptools
httpx
langchain
langchain-community
langchain_google_genai
faiss-cpu
langchain-text-splitters
pydantic
python-dotenv
uvicorn