chromadb
dataclasses-json
fastapi
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
PyPDF2
httpcore
httptools
httpx
langchain
langchain-chroma
langchain-text-splitters
pydantic
python-dotenv
uvicorn